nav {
    background-color: #333;
    margin-bottom: 20px;
}

/* Menu principal */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #8e8e8e;
}

/*Sous-menus (caAAAchés par défaut) */
nav ul ul {
    display: none;
    position: absolute;
    background-color: #737373;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 150px;
}

/* Liens du sous-menu */
nav ul ul li a {
    padding: 10px 15px;
}

nav ul ul li a:hover {
    background-color: #555;
}

/* Affichage du sous-menu au survol */
nav ul li:hover > ul {
    display: block;
}
section1.table,td,th {
    border-collapse: collapse;
    border: 1px solid #000000;
    text-align: center;

}
th, td {
    padding: 10px
}
th{
    background-color: #bcbcbc;
}
dl{
    text-align: left;
}
section#tableau{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}